In [1]:
# Importação de bibliotecas e módulos
import pandas as pd
import numpy as np
import xml.etree.cElementTree as et

In [2]:
# Abrindo o arquivo baixado
tree = et.parse('deputados.xml')
root = tree.getroot()

In [3]:
# Criando listas 
Deputado = []
Matrícula = []

In [4]:
# Registrando os deputados e suas matrículas
for deputado in root.iter('NomeParlamentar'):
    print(deputado.text)
    Deputado.append(deputado.text)

for matrícula in root.iter('Matricula'):
    print(matrícula.text)
    Matrícula.append(matrícula.text)

Adalberto Freitas
Adriana Borgo
Afonso Lobato
Agente Federal Danilo Balas
Alex de Madureira
Alexandre Pereira
Altair Moraes
André do Prado
Arthur do Val
Ataide Teruel
Barros Munhoz
Bruno Ganem
Caio França
Campos Machado
Carla Morando
Carlos Cezar
Carlos Giannazi
Carlão Pignatari
Castello Branco
Cezar
Conte Lopes
Coronel Nishikawa
Coronel Telhada
Daniel José
Daniel Soares
Delegada Graciela
Delegado Bruno Lima
Delegado Olim
Dirceu Dalben
Douglas Garcia
Dr. Jorge do Carmo
Dra. Damaris Moura
Edmir Chedid
Edna Macedo
Edson Giriboni
Emidio de Souza
Enio Tatto
Erica Malunguinho
Estevam Galvão
Frederico d'Avila
Gil Diniz
Gilmaci Santos
Heni Ozi Cukier
Isa Penna
Janaina Paschoal
Jorge Caruso
Jorge Wilson Xerife do Consumidor
José Américo
Leci Brandão
Leticia Aguiar
Luiz Fernando T. Ferreira
Léo Oliveira
Major Mecca
Marcio Nakashima
Marcio da Farmácia
Marcos Damasio
Marcos Zerbini
Maria Lúcia Amary
Marina Helou
Marta Costa
Maurici
Mauro Bragato
Milton Leite Filho
Murilo Felix
Márcia Lia
Patricia Bezerra
Paulo Correa Jr.
Paulo Fiorilo
Professor Kenny
Professor Walter Vicioni
Professora Bebel
Rafa Zimbaldi
Rafael Silva
Raul Marcelo
Reinaldo Alguz
Ricardo Madalena
Ricardo Mellão
Roberto Engler
Roberto Morais
Rodrigo Gambale
Rodrigo Moraes
Rogério Nogueira
Roque Barbiere
Sargento Neri
Sebastião Santos
Sergio Victor
Tenente Coimbra
Tenente Nascimento
Teonilio Barba
Thiago Auricchio
Valeria Bolsonaro
Vinícius Camarinha
Wellington Moura
300605
300606
300404
300607
300608
300553
300609
300497
300611
300612
300188
300613
300540
300217
300614
300501
300485
300499
300615
300616
300205
300617
300548
300618
300619
300620
300621
300543
300650
300622
300623
300624
300292
300318
300449
300395
300440
300625
300303
300626
300627
300450
300628
300629
300630
300367
300549
300544
300513
300631
300545
300264
300633
300635
300634
300552
300471
300415
300636
300533
300653
300098
300483
300654
300534
300655
300536
300638
300639
300656
300640
300641
300344
300474
300470
300539
300642
300267
300382
300643
300519
300407
300260
300644
300520
300645
300646
300647
300584
300648
300649
300430
300589

In [5]:
# Transformando isso em um df
df = pd.DataFrame(list(zip(Deputado, Matrícula)), 
                       columns=['Deputado', 'Matricula'])

In [6]:
# Vendo meu df
df.head()

                      Deputado Matricula
0            Adalberto Freitas    300605
1                Adriana Borgo    300606
2                Afonso Lobato    300404
3  Agente Federal Danilo Balas    300607
4            Alex de Madureira    300608

In [7]:
# Apagando duplicadas
df.drop_duplicates()

                       Deputado Matricula
0             Adalberto Freitas    300605
1                 Adriana Borgo    300606
2                 Afonso Lobato    300404
3   Agente Federal Danilo Balas    300607
4             Alex de Madureira    300608
..                          ...       ...
88               Teonilio Barba    300584
89             Thiago Auricchio    300648
90            Valeria Bolsonaro    300649
91           Vinícius Camarinha    300430
92             Wellington Moura    300589

[93 rows x 2 columns]

In [8]:
# Salvando o df com o nome dos deputados e suas matrículas
df.to_csv("lista_deputados.csv")